body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,legend,button
form,fieldset,input,textarea,p,blockquote,th,td {
  padding: 0;
  margin: 0;
  border: none;
}

@font-face {
    font-family: track;
    src: url(/static/font/Track.ttf);
}

@font-face {
    font-family: noto-mono;
    src: url(/static/font/NotoMono-Regular.ttf);
}

@font-face {
    font-family: hanna;
    src: url(/static/font/BMHANNA_11yrs_ttf.ttf);
}

@font-face {
    font-family: jua;
    src: url(/static/font/BMJUA_ttf.ttf);
}

body{
  background-color: #555B78;
}

.header{
  margin:50px 0;
  color: #FAFFFF;
  text-align: center;
  font-weight: bold;
}

section.main{
  position: relative;
  left: 2.5%;
  width: 95%;
  margin-bottom: 30px;
  min-height: calc( 100vh - 323px);
}

.charts{
  position: relative;
  display: table;
  border-spacing: 10px;
  width: 100%;
  min-height: 40vh;
}

.charts > *{
  display: table-cell;
}

.card{
  font-family: sans-serif;
  border-radius: 2px;
  background: #ffffff;
  overflow: hidden;
  -webkit-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.15);
}

.card table{
  width: 100%;
  text-align: center;
  border-spacing: 0;
  border-collapse: collapse;
  counter-reset: rowNumber;
}

.card table tbody tr{
    counter-increment: rowNumber;
}

.card table tbody td:first-child::before {
    content: counter(rowNumber);
}

.card tbody td:not(:first-child), .card thead th:not(:first-child){
  width: 28%;
}


.card thead, tbody { width: 100%; display: block; }
.card tbody {
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 40vh;
}


.card tbody::-webkit-scrollbar-track
{
	background-color: #F5F5F5;
}

.card tbody::-webkit-scrollbar
{
	width: 3px;
	background-color: #F5F5F5;
}

.card tbody::-webkit-scrollbar-thumb
{
	background-color: #575B76;
}

.card tr {
  width: 100%;
  display: table;
}

.card th {
  color: white;
  margin: 0;
  padding: 13px 8px;
}
.card:nth-child(1) table thead tr{
  background: #7397DE;
}
.card:nth-child(2) table thead tr {
    background: #8ACDBC;
}

.card td{
  margin: 0;
  padding: 8px;
}

.card tr:nth-child(even){background-color: #f2f2f2;}

.card tr:not(:first-child):hover {background-color: #ddd;}




.title{
  font-family: track;
  font-size: 50px;
}

#intro{
  width: 98.5%;
  margin-left: 0.5%;
  margin-top: 30px;
  font-family: hanna;
}

#intro .content{
  margin: 20px;
}


footer{
  left:0;
  bottom: 0;
  width: 100%;
  position: relative;
  color: white;
  background-color: #33333A;
  vertical-align: bottom;
}

footer .container {
  margin: 0 auto;
  padding: 22px 16px;
  max-width: 1248px;
  width: 100%;
}

footer .container .row{
  -webkit-flex: 1 auto;
  flex: 1 auto;
  -webkit-flex-flow: row nowrap;
  flex-flow: row nowrap;
  display: -webkit-flex;
  display: flex;
  position: relative;
}

footer .container .row > * {
  -webkit-flex: 1 auto;
  flex: 1 auto;
  -webkit-flex-flow: row nowrap;
  flex-flow: row nowrap;
}
footer .container .row > *.end{
  position: absolute;
  right:0;
  top: -2px;
}

footer .company-info{
  text-align: center;
}

footer .company-info img{
  width: 40px;
}

footer ul.list{
  margin-left: 5px;
  list-style: none;
  font-size: 12px;
}

footer a{
  text-decoration: none;
  color: white;
}

@media screen and (max-width: 1310px) {
  footer .container .row{
      -webkit-flex: 1 auto;
      flex: 1 auto;
      -webkit-flex-flow: row nowrap;
      flex-flow: row nowrap;
      display: -webkit-flex;
      display: block;
      position: relative;
  }

  footer .container .row > * {
    margin: 10px auto;
    max-width: 380px;
  }

  footer .container .row > *.end{
    position: relative;
  }
}

@media screen and (max-width: 1000px) {
  .charts{
    display: block;
  }
  .charts > *{
    display: block;
    width: 100%;
    margin-bottom: 30px;
  }

  #intro{
    width: 100%;
    margin-left: 0%;
    margin-top: 0;
  }

}
